soap-service/src/main/resources/service-response.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:re="http://ua/room414/response"
           targetNamespace="http://ua/room414/response" elementFormDefault="qualified">

    <xs:complexType name="response">
        <xs:sequence>
            <xs:element name="type" type="re:responseType"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="responseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCESS"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>